<section class="ftco-section contact-section">
    <div class="container">
      <div class="row d-flex mb-5 contact-info justify-content-center">
          <div class="col-md-8">
              <div class="row mb-5">
                <div class="col-md-4 text-center py-4">
                    <div class="icon mb-3 d-flex align-items-center justify-content-center">
                        <span class="icon-map-o"></span>
                    </div>
                  <p><span>Address:</span> Hay belabaas blad damni rue 01 nr 26 ksar el kebir maroc</p>
                </div>
                <div class="col-md-4 text-center py-4">
                    <div class="icon mb-3 d-flex align-items-center justify-content-center">
                        <span class="icon-mobile-phone"></span>
                    </div>
                  <p><span>Phone:</span> <a>+212 6 36 04 02 47</a></p>
                </div>
                <div class="col-md-4 text-center py-4">
                    <div class="icon mb-3 d-flex align-items-center justify-content-center">
                        <span class="icon-envelope-o"></span>
                    </div>
                  <p><span>Email:</span> <a href="mailto:info@yoursite.com">ayoub.zaabali@gmail.com</a></p>
                </div>
              </div>
        </div>
      </div>
     
    </div>
  </section>
      