  
    <section class="ftco-counter ftco-section img" id="section-counter">
        <div class="overlay"></div>
      <div class="container">
        <div class="row">
        <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
        <div class="block-18">
          <div class="text text-border d-flex align-items-center">
          <strong class="number" >{{this.propreties.length}}</strong>
          <span>Total <br>Propereties</span>
          </div>
        </div>
        </div>
        <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
        <div class="block-18">
          <div class="text text-border d-flex align-items-center">
          <strong class="number">{{totalApparetment()}}</strong>
          <span>Total <br>Apparetements</span>
          </div>
        </div>
        </div>
        <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
        <div class="block-18">
          <div class="text text-border d-flex align-items-center">
          <strong class="number">{{totalHouses()}}</strong>
          <span>Total <br>Houses</span>
          </div>
        </div>
        </div>
        <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
        <div class="block-18">
          <div class="text d-flex align-items-center">
          <strong class="number" >{{totalCities()}}</strong>
          <span>Total <br>Cities Covered</span>
          </div>
        </div>
        </div>
      </div>
      </div>
    </section>